<div class="container mt-4">
  
  <div class="d-flex justify-content-between align-items-center mb-4 border-bottom pb-3">
    <h2 class="mb-0">📋 My Tasks</h2>
    <button class="btn btn-primary" routerLink="/add-task">+ Create New Task</button>
  </div>

  <ul class="nav nav-pills mb-4">
    <li class="nav-item">
      <a class="nav-link " [class.active]="currentTab() === 'All'" 
         href="#" (click)="$event.preventDefault(); changeTab('All')">All Tasks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link "[class.text-bg-success]="currentTab() === 'Done'" [class.active]="currentTab() === 'Done'" 
         href="#" (click)="$event.preventDefault(); changeTab('Done')">Done <i class="bi bi-check-circle"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link " [class.text-bg-danger]="currentTab() === 'Undone'" [class.active]="currentTab() === 'Undone'" 
         href="#" (click)="$event.preventDefault(); changeTab('Undone')">Not Done <i class="bi bi-circle"></i></a>
    </li>
  </ul>

  <div class="row">
    
    @for (task of displayedTasks(); track task.id) {
      <div class="col-12 mb-3">
        
        <div class="card shadow-sm border-0 border-start border-4"
             [class.border-danger]="task.priority === 'High'"
             [class.border-warning]="task.priority === 'Medium'"
             [class.border-success]="task.priority === 'Low'"
             [class.bg-light]="task.isDone">
          
          <div class="card-body">
            
            @if (editingTaskId() === task.id) {
              <div class="row g-2 align-items-center">
                <div class="col-md-4">
                  <input type="text" class="form-control form-control-sm" [value]="task.title" #editTitle>
                </div>
                <div class="col-md-3">
                  <input type="date" class="form-control form-control-sm" [value]="task.dueDate" #editDate>
                </div>
                <div class="col-md-2">
                  <select class="form-select form-select-sm" [value]="task.priority" #editPriority>
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                  </select>
                </div>
                <div class="col-md-2">
                  <select class="form-select form-select-sm" [value]="task.category" #editCategory>
                    <option value="Work">Work</option>
                    <option value="Study">Study</option>
                    <option value="Personal">Personal</option>
                    <option value="Health">Health</option>
                  </select>
                </div>
                
                <div class="col-md-1 d-flex gap-1">
                  <button class="btn btn-sm btn-success" 
                          (click)="saveEdit(task, editTitle.value, editDate.value, editPriority.value, editCategory.value)">
                    <i class="bi bi-check"></i>
                  </button>
                  <button class="btn btn-sm btn-secondary" (click)="cancelEditing()">
                    <i class="bi bi-x"></i>
                  </button>
                </div>
              </div>
            } 
            
            @else {
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h5 class="card-title mb-2" [class.text-decoration-line-through]="task.isDone">
                    {{ task.title }}
                  </h5>
                  <p class="text-muted small mb-0">
                    <i class="bi bi-calendar"></i>
                     {{ task.dueDate | date:'mediumDate' }}
                    <span class="badge bg-secondary ms-2">{{ task.category }}</span>
                  </p>
                </div>
                
                <div class="d-flex align-items-center gap-3">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" 
                           [checked]="task.isDone" 
                           (change)="toggleDone(task)">
                    <label class="form-check-label">Done</label>
                  </div>
                  
                  <button class="btn btn-sm btn-outline-primary" 
                          (click)="startEditing(task.id)">Update <i class="bi bi-pencil"></i></button>
                          
                  <button class="btn btn-sm btn-outline-danger"  
                          (click)="deleteTask(task.id)">Delete <i class="bi bi-trash3"></i></button>
                </div>
              </div>
            }

          </div>
        </div>
      </div>
    }
    
    @empty {
      <div class="text-center text-muted mt-5">
        <h4>No tasks found</h4>
      </div>
    }

  </div>
</div>